[workspace]
name = "cryoswath"
description = "CryoSwath environment using pixi"
channels = ["conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = ">=3.11,<3.14"
pip = "*"

[pypi-dependencies]
cryoswath = { path = ".", editable = true }

[feature.test]
channels = ["conda-forge", "bioconda", "nodefaults"]

[feature.test.dependencies]
bottleneck = "*"
dask = "*"
defusedxml = "*"
distributed = "*"
geopandas = ">=1.0.1"
gitpython = "*"
h5netcdf = "*"
h5py = "*"
ipykernel = "*"
matplotlib = "*"
nbconvert = "*"
numpy = "*"
packaging = "*"
pandas = "*"
papermill = "*"
pyarrow = "*"
pyogrio = "*"
pyproj = "*"
pystac-client = "*"
pytest = "*"
pytables = "*"
python-dateutil = "*"
rasterio = "*"
rioxarray = "*"
scikit-learn = "*"
scipy = "*"
shapely = "*"
snakemake = "*"
stackstac = "*"
statsmodels = "*"
tox = "*"
tqdm = "*"
xarray = ">=2025.3,<2025.12"
xpystac = ">=0.4,<0.5"
zarr = "*"

[feature.docs]
channels = ["conda-forge", "nodefaults"]

[feature.docs.dependencies]
sphinx = "*"
pydata-sphinx-theme = "*"

[tasks.test-unit]
cmd = "pytest -q tests/test_l1b.py"

[tasks.test-notebooks]
cmd = "snakemake --snakefile Snakefile --cores 1 --use-conda"
cwd = "tests/reports"
env = { PYTHONPATH = "$PIXI_PROJECT_ROOT" }

[tasks.test-tutorial-notebooks]
args = [{ arg = "tutorial_dir", default = "$PIXI_PROJECT_ROOT/scripts" }]
cmd = "snakemake --directory \"{{ tutorial_dir }}\" --snakefile \"$PIXI_PROJECT_ROOT/tests/tutorials/Snakefile\" --cores 1 --use-conda"
env = { PYTHONPATH = "$PIXI_PROJECT_ROOT" }

[tasks.test-all]
args = [{ arg = "tutorial_dir", default = "$PIXI_PROJECT_ROOT/scripts" }]
depends-on = [
  "test-unit",
  "test-notebooks",
  { task = "test-tutorial-notebooks", args = ["{{ tutorial_dir }}"] },
]

[tasks.sync-test-feature]
cmd = "pixi import --format conda-env --feature test --environment test environment.yml"

[tasks.docs-build]
cmd = "python -m sphinx -b html docs docs/_build/html"

[tasks.docs-build-strict]
cmd = "python -m sphinx -W -b html docs docs/_build/html"

[environments]
test = { features = ["test"] }
docs = { features = ["docs"] }
