# This file list software dependencies.
# It can be read by `conda create -n env_name -c conda-forge --file
# requirements.txt`. I recommend setting channel priority to strict.
# `pip` should accept it as well; however, some packages may be spelled
# differently.
# Note that there is a docker repo cryoswath/cryoswath hosting VM
# images.

## cryoswath dependencies #############################################
defusedxml # will be optional in future. used for additional security
geopandas>=1.0.1 # implies among others: shapely
h5py
netcdf4
numpy
netcdf4
pandas
pyarrow
pyproj
python-dateutil
rasterio
rioxarray
scikit-learn
scipy
shapely
pytables
tqdm
xarray<=2024.1.1 # or patch scaling

## cryoswath optional #################################################
# bottleneck # for numpy: speeds up NaN-skipping and rolling window aggregations by a large factor
# cartopy # for plotting
# dask # for working on data chunks
# flox # speeds up, e.g., xarray reduction operations
# ipykernel # to use jupyter notebooks in IDEs
# jupyter # to use jupyter notebooks without IDEs
# matplotlib # for plotting
# numbagg # for numpy: for exponential rolling window operations
# seaborn # for plotting
